///
// Mixins - Grids
//
// @group Config
// @since 1.0.0-alpha.1
///

@mixin rancho-grid($columns: $grid-columns) {
  @each $breakpoint in map-keys($breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $suffix: breakpoint-suffix($breakpoint, $breakpoints);
      @for $i from 1 through $grid-columns {
        .col-#{$i}#{$suffix} {
          flex: 0 0 percentage($i / $columns);
          position: relative;
          max-width: percentage($i / $columns);
          min-height: 1px;
        }
      }
    }
  }
}


///
// Mixins - Grids - Gutters
//
// Generates responsive gutters.
//
// @since 1.0.0-alpha.1
///

@mixin rancho-gutters() {
  @each $breakpoint in map-keys($breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $suffix: breakpoint-suffix($breakpoint, $breakpoints);

      @each $size, $lengths in $spacers {
        $length-x: map-get($lengths, x);
        $length-y: map-get($lengths, y);

        @if $size == null {

          .gutters#{$suffix} {
             margin: -#{$length-y} 0 0 -#{$length-x} !important;
          }

          .gutters#{$suffix} > [class*="col-"] {
             padding: #{$length-y} 0 0 #{$length-x} !important;
          }

        } @else {
          @if $size == 0 {

            .gutters-#{$size}#{$suffix} {
              margin: 0 !important;
            }

            .gutters-#{$size}#{$suffix} > [class*="col-"] {
              padding: 0 !important;
            }

          } @else {

            .gutters-#{$size}#{$suffix} {
               margin: -#{$length-y} 0 0 -#{$length-x} !important;
            }

            .gutters-#{$size}#{$suffix} > [class*="col-"] {
               padding: #{$length-y} 0 0 #{$length-x} !important;
            }

          }
        }
      }
    }
  }
}
