/**
 * JS Component - Hide
 *
 * @since 1.0.0-alpha.1
 */

.js-btn-close {
  background: transparent;
  border: none;
  box-shadow: none;
  color: inherit;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
