/**
 * Elements - Misc
 *
 * @since 1.0.0-alpha.1
 */

abbr[title] {
  border: none;
  text-decoration: none;
}

hr {
  border-style: none;
  border-bottom: $border-alt;
  margin-top: spacer(y, u1);
  margin-bottom: spacer(y, u1);
  outline: none;
}

iframe {
  margin: 0 auto;
}

pre {
  max-width: 100%;
  padding: spacer(x);
}
