/**
 * Elements - Images
 *
 * @since 1.0.0-alpha.1
 */

img {
  display: block;
  height: auto;
  max-width: 100%;
}

figure {
  display: inline-block;
  margin: 0 0 spacer(y);
}

figcaption {
  border-bottom: $border;
  font-family: $font-family-sans;
  padding: spacer(y, d1) 0;
}
