/**
 * Grids - Rows, Columns & Gutters
 *
 * These classes are used to create a grid system using Flexbox.
 *
 * @since 1.0.0-alpha.1
 */


/**
 * Grids - Rows, Columns & Gutters - Rows
 *
 * The row class acts as a container for its child row. It's required
 * when laying out a grid.
 *
 * @since 1.0.0-alpha.1
 */

.row {
  display: flex;
}


/**
 * Grids - Rows, Columns & Gutters - Column Auto
 *
 * The column class is your individual column -- it contains content.
 *
 * @since 1.0.0-alpha.1
 */

.col-auto {
  flex: 1;
}


/**
 * Grids - Rows, Columns & Gutters - Column Fixed Widths
 *
 * Responsive columns for each viewport breakpoint.
 *
 * @since 1.0.0-alpha.1
 */

@include rancho-grid();

///
// Example:
//
// .col-3-md {
//   width: 25%;
// }
///


/**
 * Grids - Rows, Columns & Gutters - Gutters
 *
 * Creates gutters at each of the spacer sizes at all breakpoints.
 *
 * @since 1.0.0-alpha.1
 */

@include rancho-gutters();

///
// Example:
//
// .gutters-u1-lg {
//     margin: -32px 0 0 -32px !important;
//   }

// .gutters-u1-lg > [class*="col-"] {
//   padding: 32px 0 0 32px !important;
// }
///


/**
 * Grids - Rows, Columns & Gutters - Gutters
 *
 * Removes negative top margin for nested grids to prevent
 * issues with overflowing content.
 *
 * @since 1.0.0-alpha.1
 */

[class*="col-"] > [class*="gutters-"] {
  margin-top: 0 !important;
}
