/**
 * Media - Media Object
 *
 * @since 1.0.0-alpha.1
 */

.media {
  display: flex;
    align-items: flex-start;
  width: 100%;
}

.media--reverse > .media__icon {
  order: 1;
  margin-right: 0;
  margin-left: spacer(x);
}


/**
 * Media Object - Media Icon
 *
 * The Media Icon sits to the left or right of the content and provides a
 * visual to represent the media object. Media icons can be photos, icon fonts,
 * SVG icon sets, or any other visual.
 *
 * @since 1.0.0-alpha.1
 */

.media__icon {
  margin-right: spacer(x);
  max-width: 32px;
  text-align: center; /* For icon fonts */
}

.media__icon > img {
  height: auto;
  max-width: 100%;
}

@media screen and (min-width: $media-query-width-md) {
  .media__icon {
    min-width: 32px;
    max-width: 256px;
  }
}


/**
 * Media Object - Media Content
 *
 * Media Content is where you place the subject of the media object -- things
 * like headlines, copy, links, etc. go here.
 *
 * Media Content is also where you would place a nested media object.
 *
 * @since 1.0.0-alpha.1
 */

.media__content {
  flex: 1 1 auto;
}
