///
// Rancho Config - Global Nav
//
// @group Config
// @since 1.0.0-alpha.1
///

// Global Nav
$color-link-navbar: color(black);
$color-link-navbar-hov: $color-link;
$color-link-navbar-foc: $color-link-navbar-hov;
$color-link-navbar-act: $color-link-act;
