/**
 * Effects - Shadows
 *
 * @since 1.0.0-alpha.1
 */

.shadow {
  box-shadow: $box-shadow;
}

.shadow-u1 {
  box-shadow: $box-shadow-u1;
}

.shadow-u2 {
  box-shadow: $box-shadow-u2;
}

.shadow-u3 {
  box-shadow: $box-shadow-u3;
}

.shadow-u4 {
  box-shadow: $box-shadow-u4;
}
