/**
 * Flex Box - Align Items
 *
 * Responsive utility classes for aligning flex items in components.
 *
 * Please refer to CSS Trick's excellent guide to Flexbox for detailed
 * references to any of the properties used below:
 * https://css-tricks.com/snippets/css/a-guide-to-flexbox/
 *
 * @since 1.0.0-alpha.1
 */

// Key gets added to selector name; value gets added to property argument.
$_suffix-value: (
  start: flex-start,
  center: center,
  end: flex-end,
  baseline: baseline,
  stretch: stretch
);

// Selector, Property, Infix-Value Map
@include repeater-responsive('.align-self', 'align-self', $_suffix-value);

///
// Example:
//
// .align-self-start-md {
//   align-self: flex-start;
// }
///
